@model IEnumerable<SimpleStore.Models.Product.Product>

@{
    ViewData["Title"] = "Store";
}

<div class="store">
        @foreach (var item in Model)
        {
        <div class="store-item" >
            <div class="store-item__name">
                @item.Name
            </div>
            <div class="store-item__image">
                <img src="@item.Image" alt="">
            </div>
            <div class="store-item__Cart">
                <span class="store-item__Cart-id" style="display:none">@item.Id</span>
                <a class="store-item__add cart-add">+</a>
                <span class="store-item__purchase">@item.Price $</span>
                <a class="store-item__remove сart-remove">-</a>
            </div>
        </div>
        }
</div>
